language: java
services:
  - redis-server

sudo: required

os:
  - linux

jdk:
  - oraclejdk8

before_install:
  - chmod +x gradlew

stages:
  - Test
  - Build
  - Github Release

script:
  ./gradlew test

after_success:
  - ./gradlew jacocoTestReport coveralls
