<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <context:component-scan base-package="com.github.tevid.jbox"/>

    <context:property-placeholder location="classpath:application.properties"/><!-- 加载配置文件 -->

    <bean id="shardingRedisClient" class="com.github.tevid.jbox.cache.redis.RedisShardedClientFactory">
        <property name="server" value="${redis.server}"/>
        <property name="password" value="${redis.password}"/>
    </bean>

    <bean id="nsqService" class="com.github.tevid.jbox.mq.nsq.NsqService">
        <property name="nsqd" value="${nsqd.server}"/>
        <property name="nsqlookupd" value="${nsqd.nsqlookupd}"/>
    </bean>

</beans>